.main{
  width: 100%;
  height: 100dvh;
  position: relative;

  .logo{
    width: 400px;
    margin: auto;
    margin-top: 20px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .book{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
