.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
  text-align: left;
  visibility: hidden;
}

.megatitle{
  will-change: transform, opacity;
  font-size: 80px;
}

.title{
  will-change: transform, opacity;
  font-size: 40px;
}
.text{
  will-change: transform, opacity;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}